/* ie6 doesn't support multiple class selectors */
div#featureButtons img.first {
	margin-top: 0px;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
