body {
	/*font-family: Verdana, sans-serif;*/
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","DejaVu Sans",Arial,sans-serif;
	color: black;
	background-color: #CECECE;
	text-align: center; /*for IE to center the divs*/
}

/* say "no" to padding below imgs */
img {
	display: block;
}

a, a:visited {
	text-decoration: none;
	color: #660000;
}

a.active, li a.active { color: #660000; }

a:hover, a:visited:hover {
	color: #808080;
}

/*** container divs ***/

#outer {
	text-align: left; /* to work around the body text-align IE hack*/
	width: 960px;
	height: auto !important;
	min-height: 100%;
	margin: 0 auto -4em;
	background: #fff;
	margin-bottom: 20px;
	-webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
}

#header {
	width: 960px;
}

#banner {
	width: 960px;
	height: 127px;
	background-image: url('../images/Beca_Banner.jpg');
}

#banner img {
	display: inline;
}

#inner {
	width: 872px;
	background: #fff;
	margin-left: 88px;
}

#footer {
/*	width: 960px;
	position: relative;
	bottom: 0px;
	clear: both; /* clear the floats from the previous div */
				/* http://www.positioniseverything.net/easyclearing.html */
}

/*** navigation ***/

#navcontainer {
	height: 33px;
	width: 960px;
	background: #660000;
	font-size: 12px;
}

#navlist
{
	margin: 0;
}

#navlist ul {
	margin: 0;
	padding: 0;
}

#navlist li {
	line-height: 2.6em;
	border-right: 1px solid #FFFFFF;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
}

#navlist a {
	display: block;
	color: #CECECE;
	text-decoration: none;
	padding: 1px 7px;
}

#navlist a:hover {
	background: #CECECE;
	color: #660000;
}

#no-js {
	height: 205px;
	width: 960px;
}

/*** People ***/

#peopleLeftMenu {
	float: left;
	position: relative;
	left: -88px;
	width: 262px; /* now 262px because 88 + 130 + 44 */
}

#peopleLeftMenu form.sortby {
	margin-top: 5px;
}

#peopleLeftMenu form.first {
	margin-top: 0px;
}

/* XHTML strict adds a 1px bottom padding to images set to display: block to fix */
#peopleLeftMenu .sortby input[type="image"] {
	display: block;
}

#peopleGrid span {
	font-size: 10px;
	color: #000;
	display: block;
	font-weight: normal;
	width: 130px; /* so word wrapping occurs with long text, and doesn't expand our box */
}

#peopleGrid span.name {
	font-weight: bold;
}

#peopleGrid span.rep {
	color: #823747;
}

#peopleGrid span.jobtitle, #peopleGrid span.location, #peopleGrid span.nationality, #peopleGrid span.region {
	color: #9E9D92;
}

span.nationality img, span.location img {
	display: inline; 
	width: 11px;
	padding-right: 5px;
}

#ilricrowdright1 {
	float: left;
	left: -88px;
	position: relative;
}

#ilricrowdright2 {
	float: left;
	position: relative;
	top: -55px;
	left: -44px;
	margin-right: 44px;
}

#peopleGrid div.person {
	float: left;
	height: 205px;
	margin-left: 0px;
	margin-right: 88px;
}

#peopleGrid div.person:first-child {
	margin-top: 55px;
}

#peopleGrid div.person .img, #peopleGrid div.person .video, #peopleGrid div.person .audio {
	display: block;
	width: 130px;
	height: 150px;
	cursor: pointer;
}

#peopleGrid div.person .text {
	width: 110px;
	height: 130px;
	padding: 10px;
	font-weight: 600;
	font-size: 13px;
}

#peopleGrid div.person .text p {
	color: #fff;
}

div.currently {
	display: none;
}

.play {
	filter:alpha(opacity=40); /* for IE */
	opacity:0.4;
	border: 0px;
}

#featured img.play {
	height: 55px;
	width: 55px;
}

.video img.play, .audio img.play {
	height: 25px;
	width: 25px;
}

/*** For the scrolling "features" ***/
.scrollable {
	position: relative;
	float: right;
	width: 654px;
	height: 355px; /* 2 people (150 * 2) + 1 top margin (34) + 1 person name + location (21px) */
	margin-bottom: 55px;
	overflow: hidden;
}

#featuredItems {
	width: 10000em;
	position: absolute;
}

#featuredItems div {
	float: left;
}

div#feature {
/*	width: 654px;*/
	/*height: 355px; /* 2 people (150 * 2) + 1 top margin (34) + 1 person name + location (21px) */
	/*margin-bottom: 55px;*/
	/*position: relative; /* so we can absolutely position stuff inside */
	/*float: right;*/
	background-color: #E0E0E0;
}

#peopleFacts, #jobs {
	width: 654px;
	height: 355px;
	background-color: #fff;
	color:#000;
	text-align: center;
}

h2.title {
	width: 632px; /* 654 - 10x2 - 1x2; adjust the width according to various padding, border, etc */
	height: 19px; /* 30 - 5x2 - 1; */
	text-align: center;
	-moz-border-radius-topleft:0.333em;
	-moz-border-radius-topright:0.333em;
	-webkit-border-top-left-radius:0.333em;
	-webkit-border-top-right-radius:0.333em;
	border-top-left-radius: 0.333em;
	border-top-right-radius: 0.333em;
	background:url(../images/bg-shade-light222.png) repeat-x scroll left bottom #FFFFFF;
	border-color: #ddd;
	outline-color: currentColor; /* http://www.w3.org/TR/css3-color/#currentcolor */
	border-style: solid solid none solid;
	border-width: 1px 1px 0 1px;
	color: #555;
	display: block;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: normal;
	margin: 0;
	padding: 5px 10px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
}

div.content {
	width: 100%;
	height: 323px;
	border: 1px solid #ddd;
}

#peopleFactsButtons {
	float: left;
	display: block;
	height: 195px;
	margin-top: 100px;
}

#peopleFactsButtons li {
	height: 55px;
	width: 200px;
	text-align: right;
}

#peopleFactsButtons li > a {
	height: 30px;
	width: 200px;
	padding-top: 20px;
	display: block;
}

#peopleFactsButtons li > a.current {
	font-weight: 700;
}

#peopleFactsContent {
	height: 295px;
	width: 400px;
	float: left;
}

/* do we need divs... try to style just the anchors */
#peopleFacts .button a {
	display: block;
	height: 30px;
	width: 200px;
	padding-top: 20px;
}

#peopleFacts-1 ul, #peopleFacts-2 ul, #peopleFacts-3 ul {
	float: left;
}

#peopleFacts-1 li, #peopleFacts-2 li, #peopleFacts-3 li {
	float: left;
	text-align: left;
	padding: 5px;
}

div#featureLeft {
	width: 392px;
	float: left;
}

div#featureLeftTop {
	width: 392px;
	height: 148px;
}

div#featureLeftBottom {
	width: 392px;
	height: 207px;
}

div#featureLeftBottom #featured {
	width: 368px; /* our video is 16:9, so 368x207 works */
	height: 207px; 
	display: block;
	position: absolute;
	bottom: 0;
	left: 24px;	/* 368 + 24 = 329px... we want some space on the left of the video */
}

div#featureRight {
	width: 262px;
	float: left;
}

div#mainFeature {
	height: 150px;
	width: 130px;
	margin-left: 44px;
}

div#otherFeatures {
	float: left;
	margin-right: 88px;
	width: 174px;
	height: 105px;
	position: relative;
}

div#otherFeatures #features {
	position: absolute;
	bottom: 5px;
}

/* other features are 58px wide (174/3) */
div#otherFeatures .person {
	float: left;
	display: block;
}

div#features span.person {
	color: gray;
	margin-left: 5px;
	width: 53px;
	text-align: right;
}

div#features img.person {
	margin-left: 8px;
	width: 50px;
	cursor: pointer;
}

div#featureButtons {
	width: 262px;
	height: 100px;
	position: absolute;
	bottom: 0px;
}

img.button {
	margin-top: 5px;
	cursor: pointer;
}

img.button.first {
	margin-top: 0px;
}

#jobs .content {
	/*padding-left: 5px;
	padding-top: 5px;
	height: 318px;*/
}

#jobs .content ul {
	list-style-type: none; /* no style, use css ":before" to draw "content" */
	text-align: left;
	overflow: hidden;
	line-height: 1.6;
	height: 285px;
	margin: 10px 0 0 5px;
}

#jobs .content ul li {
	font-size: 13px;
	margin: 0;
	padding: 0;
}

#jobs .content ul li:before {
	content: "\00BB \0020";
}

#featuredItems .content .nav {
	font-size: 11px;
	float: left;
	height: 30px;
	width: 649px;
}

#newWays {
	width: 960px;
	clear: both;
	position: relative;
	left: -88px;
	background-color: #ddd;
}

#newWays .row {
	background-image: url(../images/purple_1px.png);
	background-position:
	bottom left;
	background-repeat: repeat-x;
	height: 200px;
}

#newWays .row1 {
	height: 140px;
}

#newWays .heading {
	text-align: left;
	padding-left: 15px;
	height: 40px;
}

#newWays .heading h2, #newWays h2 > a, #newWays h2 > a:hover {
	font-size: 26px;
	/*font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","DejaVu Sans",Arial,sans-serif;*/
	font-weight: 700;
	color: rgb(138,115,115);
	top: 10px;
	position: relative;
}

#newWays div.person {
	float: left;
	height: 150px;
	margin-left: 88px;
}

#newWays div.person .img, #newWays div.person .video, #newWays div.person .audio {
	display: block;
	width: 130px;
	height: 150px;
	cursor: pointer;
}

#newWays img.person, #newWays div.person {
	float: left;
}

#newWays div.person .text {
	width: 110px;
	height: 130px;
	padding: 10px;
	font-weight: 600;
	font-size: 13px;
}

#newWays div.person .text p {
	color: #fff;
}

#newWays span.name {
	font-weight: bold;
	font-size: 10px;
	display: block;
	width: 130px;
	color: #888;
}

#newWays .scientists {
	float: left;
	width: 678px;
	height: 66px;
	padding-top: 9px;
	padding-left: 20px;
	margin-top: 25px;
	font-size: 18px;
	color: #777;
}

#newWays .moreWays {
	margin-left: 88px;
	padding-left:540px;
	float: left;
	width: 100px;
	height: 75px;
	text-align: right;
	font-size: 12px;
}

#footer {
	padding: 10px;
	width: 940px;
	clear: both;
}

#footer-inner {
	margin: 15px;
}

#footer-inner p {
	font-size: 10px;
	text-align: center;
}
