/*	reset elements to sane defaults!
	Credit: http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
*/
/* @group reset */
html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

/* @group */

body {
	font-family: Verdana, sans-serif;
	color: black;
	background-color: #CECECE;
	font-size: 10pt;
	text-align: center; /*for IE to center the divs*/
}

a, a:visited {
	text-decoration: none;
	color: #660000;
}

a.active, li a.active { color: #660000; }

a:hover, a:visited:hover {
	color: #808080;
}

/*** container divs ***/

#outer {
	text-align: left; /* to work around the body text-align IE hack*/
	width: 960px;
	height: auto !important;
	min-height: 100%;
	margin: 0 auto -4em;
	background: #fff;
	font-size: 12px;
	-webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
}

#header {
	width: 960px;
}

#banner {
	width: 960px;
	height: 125px;
	background-image: url('../images/Banner2.png');
	clear: both;	/* we don't want to have stuff floating on the left or right... */
	overflow: hidden; /* make the stuff after our header */
}

#inner {
	clear: both;	/* we don't want to have stuff floating on the left or right... */
	overflow: hidden; /* make the stuff after our inner */
	width: 960px;
}

#footer {
	width: 960px;
	position: relative;
	bottom: 0px;
}

/*** navigation ***/

#navcontainer {
	height: 33px;
	width: 960px;
	background: #660000;
}

#navlist
{
	margin: 0;
}

#navlist ul
{
	margin: 0;
	padding: 0;
	list-style-type: none; /* remove the bullets */
}

#navlist li {
	line-height: 2.6em;
	border-right: 1px solid #FFFFFF;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
}

#navlist a
{
	display: block;
	color: #CECECE;
	text-decoration: none;
	padding: 1px 7px;
}

#navlist a:hover {
	background: #CECECE;
	color: #660000;
}

/*** People ***/

div.person {
	float: left;
	width: 130px;
	height: 150px;
	margin: 10px 30px 5px 30px;
}

div.person img {
	border: none;
	width: 140px;
}

div.left {
	margin-left: 0px;
}

#aboutus {
	float: left;
	text-align: justify;
	width: 140px;
	/*padding: 20px;*/
	margin-left: 30px;
	margin-right: 80px;
	min-height: 130px;
	background-color: #DBDBDB;
	margin-bottom: 5px;
	/*margin-right: 20px;*/
	/*border-right: 1px solid black;*/
}
