body {
	font-family: Verdana, sans-serif;
	color: black;
	background-color: #CECECE;
	text-align: center; /*for IE to center the divs*/
}

/* say "no" to padding below imgs */
img {
	display: block;
}

a, a:visited {
	text-decoration: none;
	color: #660000;
}

a.active, li a.active { color: #660000; }

a:hover, a:visited:hover {
	color: #808080;
}

/*** container divs ***/

#outer {
	text-align: left; /* to work around the body text-align IE hack*/
	width: 960px;
	height: auto !important;
	min-height: 100%;
	margin: 0 auto -4em;
	background: #fff;
	-webkit-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
}

#header {
	width: 960px;
}

#banner {
	width: 960px;
	height: 125px;
	background-image: url('../images/Banner2.png');
}

#inner {
	width: 872px;
	background: #fff;
	margin-left: 88px;
}

#footer {
	width: 960px;
	position: relative;
	bottom: 0px;
	clear: both; /* clear the floats from the previous div */
				/* http://www.positioniseverything.net/easyclearing.html */
}

/*** navigation ***/

#navcontainer {
	height: 33px;
	width: 960px;
	background: #660000;
	font-size: 12px;
}

#navlist
{
	margin: 0;
}

#navlist ul {
	margin: 0;
	padding: 0;
}

#navlist li {
	line-height: 2.6em;
	border-right: 1px solid #FFFFFF;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
}

#navlist a {
	display: block;
	color: #CECECE;
	text-decoration: none;
	padding: 1px 7px;
}

#navlist a:hover {
	background: #CECECE;
	color: #660000;
}

/*** People ***/

#peopleLeftMenu {
	float: left;
	position: relative;
	left: -88px;
	width: 262px; /* now 262px because 88 + 130 + 44 */
}

#peopleLeftMenu form.sortby {
	margin-top: 5px;
}

#peopleLeftMenu form.first {
	margin-top: 0px;
}

/* XHTML strict adds a 1px bottom padding to images set to display: block to fix */
#peopleLeftMenu .sortby input[type="image"] {
	display: block;
}

#peopleGrid span {
	font-size: 10px;
	color: #000;
	display: block;
	font-weight: normal;
	width: 130px; /* so word wrapping occurs with long text, and doesn't expand our box */
}

#peopleGrid span.name {
	font-weight: bold;
}

#peopleGrid span.rep {
	color: #823747;
}

#peopleGrid span.jobtitle, #peopleGrid span.location, #peopleGrid span.nationality, #peopleGrid span.region {
	color: #9E9D92;
}

#peopleGrid span.region {
	display: none;
}

#ilricrowdright1 {
	float: left;
	left: -88px;
	position: relative;
}

#ilricrowdright2 {
	float: left;
	position: relative;
	top: -55px;
	left: -44px;
	margin-right: 44px;
}

div.person {
	float: left;
	height: 205px;
	margin-left: 0px;
	margin-right: 88px;
}

div.person:first-child {
	margin-top: 55px;
}

div.person .img, div.person .vid {
	width: 130px;
	height: 150px;
}

div#feature {
	width: 654px;
	height: 355px; /* 2 people (150 * 2) + 1 top margin (34) + 1 person name + location (21px) */
	margin-bottom: 55px;
	position: relative; /* so we can absolutely position stuff inside */
	float: right;
	background-color: #E0E0E0;
}

div#featureLeft {
	width: 392px;
	float: left;
}

div#featureLeftTop {
	width: 392px;
	height: 148px;
}

div#featureLeftBottom {
	width: 392px;
	height: 207px;
}

div#featureLeftBottom #featured {
	width: 368px; /* our video is 16:9, so 368x207 works */
	height: 207px; 
	display: block;
	position: absolute;
	bottom: 0;
	left: 24px;	/* 368 + 24 = 329px... we want some space on the left of the video */
}

div#featureRight {
	width: 262px;
	float: left;
}

div#featureRightTop {
	height: 150px;
}

div#featureButtons {
	position: absolute;
	bottom: 0px;
}

div#featureButtons img.button {
	margin-top: 5px;
}

div#featureButtons img.button.first {
	margin-top: 0px;
}

#footer {
	clear: both;
	padding: 10px;
	width: 940px;
}

#footer-inner {
	margin: 15px;
}

#footer-inner p {
	font-size: 10px;
	text-align: center;
}
